ul{
    padding: 0px;
    width: 190px;
    height:74px;
    background-color: rgb(255, 255, 255);
    overflow-y: auto;
}
li{
    list-style:none;
}

a{
    text-decoration: none;
    color:white;
}

.menu1{
    background-color: rgb(162, 108, 219);
    height: 20px;
}

.menu{
    display: none;
    height: 18px;
    background-color: rgb(99, 83, 114);
}

ul:hover li{
    display: block;
}